.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,135,1) 50%, rgba(252,176,69,1) 100%);
font-family: 'Rubik', sans-serif;
color: #78909c;
}